* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
  overflow: hidden;
}

html, body, main#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
