/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


 html, body, main, div#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.titlebar {
  -webkit-app-region: drag;
  width: 100vw;
  min-height: 30px;
  height: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 11pt;
  top: 0px
}
.titlebar else {
  -webkit-app-region: no-drag;
}
