* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
  overflow: hidden;
}

html, body, main#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.titlebar {
  -webkit-app-region: drag;
  width: 100vw;
  min-height: 30px;
  height: 30px;
}
.titlebar else {
  -webkit-app-region: no-drag;
}

/* Make Material-UI Data Grid cells scrollable but with hidden scrollbars */
.MuiDataGrid-cell {
  overflow: auto;
  -ms-overflow-style: none;
}

.MuiDataGrid-cell > div {
  overflow: auto;
}
.MuiDataGrid-cell > div::-webkit-scrollbar {
  display: none;
}

.react-pdf__Document {
  display: inline-block;
}

/* Hide select for the number of message if width of the log window <650 px */
@media only screen and (max-width: 650px) {
  #selectNumberMessages {
      display: none;
  }
}
